/* universal selector */
*,
*::after
*::before {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    box-sizing: inherit; /* better practice */
}

/* root font size */
html {
    font-size: 62.5%; /* 10px from browser default, make life easier */
}
/* Using inheritance */
body {
    box-sizing: border-box; /* include border and padding when declaring width/height */
}